img
	margin: 0px
	height: 100px
.Navigation_Bar
	background: #8067f5
	div
		display: none
	.link
		display: block
		text-align: center
		padding: 1em
		text-decoration: none
		background: #8067f5
		color: white
	.brand
		width: 10em
		text-align: center
		padding: 1em
		color: white
	a
		text-decoration: none
	.toggle
		padding: 1em
		color: black
.Navigation_Bar .toggle,
.Navigation_Bar .brand
	display: inline-block
.Navigation_Bar .link:hover,
.Navigation_Bar .link:active
	color: #8067f5
	background: white

// img {
//   margin: 0px;
//   height: 100px;
// }

// .Navigation_Bar {
//   background: #415068;
// }

// .Navigation_Bar div {
//   display: none;
// }

// .Navigation_Bar .toggle,
// .Navigation_Bar .brand {
//   display: inline-block;
// }

// .Navigation_Bar .link {
//   display: block;
//   text-align: center;
//   padding: 1em;
//   text-decoration: none;
//   background: #223047;
//   color: white;
// }

// .Navigation_Bar .link:hover,
// .Navigation_Bar .link:active {
//   color: #223047;
//   background: white;
// }

// .Navigation_Bar .brand {
//   width: 10em;
//   text-align: center;
//   padding: 1em;
//   color: white;
// }

// .Navigation_Bar a {
//   text-decoration: none;
// }

// .Navigation_Bar .toggle {
//   padding: 1em;
//   color: black;
// }

// If it is a classname add  a .
//.Logo {}
/// If you style a regular tag
//body {
//    .Logo {}
//}
