.Navigation_Bar
	display: flex
	flex-direction: row
	justify-content: space-around
	background: #109663fd
	.brand
		width: 10em
		padding: 1em
		color: white

		img
			margin: 0px
			height: 100px

	.left
		display: flex
		flex-direction: row
		justify-content: space-around
		font-size: 6em

	.middle
		display: flex
		flex-direction: row
		justify-content: space-around

		img
			margin: 0px
			height: 100px

	.right
		display: flex
		flex-direction: row
		justify-content: space-around

		img
			margin: 0px
			height: 100px
