@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");

.built-with {
  font-family: "Secular One", sans-serif;
  border-style: groove;
  color: red;
  font-style: normal;
  font-size: medium;
  width: 200px;
  height: 210px;
  padding: 20px;
  position: absolute;
  top: 250px;
  border: 8px solid blue;
  background: yellow;
}
