@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");

.built-with {
  font-family: "Secular One", sans-serif;
  border-style: groove;
  color: black;
  border-color: rgb(144, 43, 226);
  font-style: normal;
  font-size: medium;
}
